RewriteEngine On
RewriteCond %{HTTPS} !on
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


RewriteRule ^home index.php [NC,L]
RewriteRule ^logout logout.php [NC,L]
RewriteRule ^login login.php [NC,L]
RewriteRule ^auth auth.php [NC,L]
RewriteRule ^redirect inc/redirect.php [NC,L]


RewriteRule ^roles view/roles.php [NC,L]
RewriteRule ^not-found view/404.php [NC,L]
RewriteRule ^profile view/profile.php [NC,L]
RewriteRule ^blood-groups view/blood-groups.php [NC,L]
RewriteRule ^states view/states.php [NC,L]
RewriteRule ^administrators view/administrators.php [NC,L]
RewriteRule ^designations view/designations.php [NC,L]
RewriteRule ^departments view/departments.php [NC,L]
RewriteRule ^subjects view/subjects.php [NC,L]
RewriteRule ^administrators view/administrators.php [NC,L]
RewriteRule ^countries view/countries.php [NC,L]
RewriteRule ^genders view/genders.php [NC,L]
RewriteRule ^classes view/classes.php [NC,L]
RewriteRule ^students view/students.php [NC,L]
RewriteRule ^sections view/sections.php [NC,L]
RewriteRule ^user-types view/user-types.php [NC,L]
RewriteRule ^template view/temp.php [NC,L]
RewriteRule ^dashboard view/dashboard.php [NC,L]