RewriteEngine On
RewriteCond %{HTTPS} !on
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


RewriteRule ^home index.php [NC,L]


RewriteRule ^roles view/roles.php [NC,L]
RewriteRule ^profile view/profile.php [NC,L]
RewriteRule ^states view/states.php [NC,L]
RewriteRule ^administrators view/administrators.php [NC,L]
RewriteRule ^countries view/countries.php [NC,L]
RewriteRule ^genders view/genders.php [NC,L]
RewriteRule ^classes view/classes.php [NC,L]
RewriteRule ^sections view/sections.php [NC,L]
RewriteRule ^user-types view/user-types.php [NC,L]
RewriteRule ^template view/temp.php [NC,L]
